{% extends 'base.html' %}

{% block content %}
<div class="mt-5">
    <button type="button" class="btn btn-primary">Add Task</button>
    <h1>Tasks in "{{ todo.name }}"</h1>
</div>
<div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Task</th>
          <th scope="col">Created</th>
          <th scope="col">Due on</th>
          <th scope="col">Owner</th>
          <th scope="col">Mark</th>
        </tr>
      </thead>
      <tbody>
      {% for t in tasks %}
        <tr>
            <td>{{ t.name }}</td>
            <td>{{ t.created }}</td>
            <td>{{ t.due_on }}</td>
            <td>{{ t.owner }}</td>
            {% if t.mark != False %}
                <td><button type="button" class="btn btn-info">Done</button></td>
            {% else %}
            <td><button type="button" class="btn btn-info">Not Done</button></td>
            {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div>
        <button type="button" class="btn btn-warning">View completed tasks</button>
        <button type="button" class="btn btn-danger">Delete this list</button>
    </div>
</div>

{% endblock %}